<div class="wrapper py-10 bg-orange-100">
  <div class="max-w-6xl mx-auto px-4">
    <h3 class="text-3xl sm:text-4xl font-bold capitalize">
      {{ featuredServicesData().title }}
    </h3>
    <p class="font-semibold text-2xl sm:text-3xl mt-2">
      {{ featuredServicesData().subtitle }}
    </p>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-10 mt-10">
      <!-- Colonna testo -->
      <div class="flex flex-col justify-between gap-6">
        <p class="text-lg sm:text-xl leading-relaxed">
          {{ featuredServicesData().description }}
        </p>

        <app-button
          [label]="featuredServicesData().cta?.label"
          (onClick)="handleClick()"
        ></app-button>
      </div>

      <!-- Colonne servizi -->
      @for (service of featuredServicesData().featured_services; track $index) {
      <div class="col">
        <app-service-card
          [service]="service"
          [context]="'home'"
        ></app-service-card>
      </div>
      }
    </div>
  </div>
</div>
