@if (heroData()) {

<div class="relative h-[100vh] overflow-hidden">
  <!-- Background image -->
  <img
    class="absolute inset-0 w-full h-full object-cover"
    [src]="`http://localhost:1337${heroData().background?.url}`"
    alt="Studio Fisioterapia e Osteopatia"
  />

  <!-- Overlay -->
  <div class="absolute inset-0 bg-black/50"></div>

  <!-- Content -->
  <div
    class="relative z-10 flex flex-col items-center justify-center text-center px-4 sm:px-8 md:px-16 h-full"
  >
    <h1
      class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-extrabold uppercase text-white max-w-4xl leading-tight"
    >
      {{ heroData().title }}
    </h1>
    @if (heroData().subtitle) {
    <p>
      {{ heroData().subtitle }}
    </p>
    } @if (heroData().cta) {

    <div class="mt-8">
      <app-button
        [label]="heroData().cta!.label"
        [type]="heroData().cta!.type || 'primary'"
        (onClick)="handleClick()"
      ></app-button>
    </div>
    }
  </div>
</div>

}
