@if (heroData()) {

<div class="relative h-[100vh] overflow-hidden">
  <!-- Background image -->
  <img
    class="absolute inset-0 w-full h-full object-cover"
    [src]="heroBackground()"
    alt="Studio Fisioterapia e Osteopatia"
  />

  <!-- Overlay -->
  <div class="absolute inset-0 bg-black/50"></div>

  <!-- Content -->
  <div
    class="relative z-10 flex flex-col justify-center px-4 sm:px-8 md:px-16 h-full"
    [class.text-start]="heroData().align === 'left'"
    [class.items-start]="heroData().align === 'left'"
    [class.text-center]="heroData().align === 'center'"
    [class.items-center]="heroData().align === 'center'"
    [class.text-end]="heroData().align === 'right'"
    [class.items-end]="heroData().align === 'right'"
  >
    <h1
      class="text-3xl sm:text-4xl md:text-5xl lg:text-6xl font-extrabold uppercase text-white max-w-4xl leading-tight"
    >
      {{ heroData().title }}
    </h1>
    @if (heroData().subtitle) {
    <p
      class="text-xl sm:text-2xl md:text-3xl lg:text-4xl font-semibold text-white max-w-4xl leading-tight"
    >
      {{ heroData().subtitle }}
    </p>
    } @if (heroData().cta) {

    <div class="mt-8">
      <app-button
        [label]="heroData().cta!.label"
        [type]="heroData().cta!.type || 'primary'"
        (onClick)="handleClick()"
      ></app-button>
    </div>
    }
  </div>
</div>

}
