<div class="wrapper bg-blue-200">
  <div class="container py-8 mx-auto">
    <h3 class="text-4xl font-bold capitalize">Chi sono</h3>
    <div class="grid grid-cols-2 gap-6 mt-6">
      <div class="img-container">
        <img src="https://picsum.photos/3000/2000" alt="" />
      </div>
      <div>
        <p class="mb-6 text-2xl">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sequi, quos!
          Sint voluptas eligendi placeat, ratione illo minus vel. Cupiditate
          autem explicabo suscipit ab non ut ex nihil dignissimos similique
          nemo.
        </p>
        <app-button label="Scopri di più"></app-button>
      </div>
    </div>
  </div>
</div>
