<div class="wrapper py-6 flex flex-col gap-6 px-4 sm:px-6 lg:px-8">
  <div class="max-w-6xl mx-auto flex flex-col gap-6">
    <!-- Sezione Profilo + Immagine -->
    <div class="grid grid-cols-1 lg:grid-cols-3 gap-6">
      <!-- Testo -->
      <div class="text-container flex flex-col gap-6 lg:col-span-1">
        <h3 class="text-3xl sm:text-4xl font-bold capitalize">
          Dott. <strong>Paolo Caristia</strong>
        </h3>
        <div
          class="flex flex-col gap-6 text-lg sm:text-xl"
          [innerHTML]="bioTextRichText()"
        ></div>
      </div>

      <!-- Immagine -->
      <div
        class="image-container lg:col-span-2 w-full"
        [ngClass]="invertOnMobile() ? 'order-first lg:order-none' : ''"
      >
        <img
          [src]="`${bioText().image?.formats?.large?.url}`"
          alt=""
          class="w-full h-auto object-cover rounded-lg"
        />
      </div>
    </div>

    <!-- Curriculum e certificazioni -->
    <div class="flex flex-col gap-6">
      <h3 class="text-3xl sm:text-4xl font-bold capitalize">
        Curriculum e certificazioni
      </h3>
      <div
        [innerHTML]="curriculumCertificazioni()"
        class="flex flex-col gap-6 text-lg sm:text-xl"
      ></div>
    </div>

    <!-- Specializzazioni -->
    <div class="flex flex-col gap-6">
      <h3 class="text-3xl sm:text-4xl font-bold capitalize">
        Specializzazioni
      </h3>
      <div class="flex flex-col gap-6 text-lg sm:text-xl">
        @for (specialization of specializzazioni(); track $index) {
        <div class="flex items-center gap-6 flex-row-reverse justify-end">
          <img
            [src]="specialization.icon?.formats?.thumbnail?.url"
            [alt]="specialization.title"
            class="w-12 h-12"
          />
          <p class="font-bold pb-0 capitalize">{{ specialization.title }}</p>
        </div>
        <p>{{ specialization.description }}</p>
        }
      </div>
    </div>

    <!-- Valori -->
    <div class="flex flex-col gap-6">
      <h3 class="text-3xl sm:text-4xl font-bold capitalize">
        i miei <strong>Valori</strong>
      </h3>
      <div class="grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-6">
        @for (value of valori(); track $index) {
        <div class="flex items-center gap-3">
          <img
            [src]="value.icon?.formats?.thumbnail?.url"
            [alt]="value.title"
            class="rounded-full w-12 h-12 object-cover"
          />
          <div class="flex flex-col w-50">
            <span class="font-semibold">{{ value.title }}</span>
            <span>{{ value.description }}</span>
          </div>
        </div>
        }
      </div>
    </div>
  </div>
</div>
