<div class="wrapper py-10 mx-auto px-4 sm:px-6 lg:px-10 max-w-7xl">
  <h3 class="text-3xl sm:text-4xl font-bold capitalize text-center mb-8">
    Cosa dicono i miei pazienti
  </h3>

  <p-carousel
    [value]="reviews()"
    [numVisible]="3"
    [responsiveOptions]="responsiveOptions"
    [numScroll]="1"
    [circular]="true"
    [autoplayInterval]="reviews().length > 3 ? 4000 : 0"
    [showNavigators]="reviews().length > 3"
  >
    <ng-template let-review #item>
      <app-customer-review
        [review]="review"
        class="h-full"
      ></app-customer-review>
    </ng-template>
  </p-carousel>
</div>
