<div class="wrapper py-10 mx-auto px-4 sm:px-6 lg:px-10 max-w-7xl">
  <h3 class="text-3xl sm:text-4xl font-bold capitalize text-center mb-8">
    Cosa dicono i miei pazienti
  </h3>

  <swiper-container
    init="true"
    [loop]="reviews().length > 6"
    [autoplay]="autoplay()"
    space-between="20"
    [navigation]="reviews().length > 3"
    class="mySwiper"
    (swiperprogress)="onProgress($any($event))"
    (swiperslidechange)="onSlideChange()"
    [breakpoints]="breakpoints"
  >
    @for (review of reviews(); track $index) {
    <swiper-slide class="!h-auto py-10">
      <app-customer-review
        [review]="review"
        class="h-full"
      ></app-customer-review>
    </swiper-slide>
    }
  </swiper-container>
</div>
