@if (homeData().hero) {

<app-hero
  (onClick)="handleClick('/contatti')"
  [heroData]="homeData().hero!"
></app-hero>
} @if (homeData().featured_service) {

<app-service-home
  (onClick)="handleClick('/servizi-offerti')"
  [featuredServicesData]="homeData().featured_service!"
></app-service-home>
} @if (homeData().about_preview) {

<app-chi-sono-home
  (onClick)="handleClick('/chi-sono')"
  [aboutHomeData]="homeData().about_preview!"
></app-chi-sono-home>
} @if (homeData().reviews_section) {

<app-reviews-slider
  ngSkipHydration
  [reviews]="homeData().reviews_section"
></app-reviews-slider>
}

<app-more-info
  text="Prenota ora il tuo trattamento"
  buttonLabel="Prenota un appuntamento"
  buttonType="tertiary"
  (onClick)="handleClick('/contatti')"
></app-more-info>

<div class="map w-full h-100 bg-gray-500" [innerHTML]="mapEmbed()"></div>
