<div class="card w-80 text-[#545454]" [class.shadow-lg]="hasShadow()">
  <div class="image-container w-full mb-4">
    <img [src]="card().imageUrl" [alt]="card().title" class="w-full h-50" />
  </div>
  <div class="px-4 pb-4">
    <p class="font-extrabold uppercase">{{ card().title }}</p>
    @if (card().subtitle) {
    <p class="font-semibold capitalize">{{ card().subtitle }}</p>
    } @if (card().description) {
    <p class="mb-4">{{ card().description }}</p>
    } @if (card().link) {
    <p>
      <a [routerLink]="card().link.link" class="font-bold capitalize"
        >{{ card().link.label }} ></a
      >
    </p>
    }
  </div>
</div>
