<div class="card text-[#545454]" [class.shadow-lg]="hasShadow()">
  <div class="image-container w-full h-50 mb-4 object-fit-cover">
    <img
      [src]="`http://localhost:1337${service().cover_image?.url}`"
      [alt]="service().title"
      class="w-full h-full"
    />
  </div>
  <div class="px-4 pb-4">
    <p class="font-extrabold uppercase">{{ service().title }}</p>

    @if (service().short_description) {
    <p class="mb-4">{{ service().short_description }}</p>
    } @if (service().slug) {
    <p>
      <a
        [routerLink]="`/servizi-offerti/fisioterapia/${service().slug}`"
        class="font-bold capitalize"
        >Scopri di più -></a
      >
    </p>
    }
  </div>
</div>
