<div class="card text-[#545454]" [class.shadow-lg]="hasShadow()">
  <div class="image-container w-full h-50 mb-4 object-fit-cover">
    <img [src]="cardImage()" [alt]="title()" class="w-full h-full" />
  </div>
  <div class="px-4 pb-4">
    <p class="font-extrabold uppercase">{{ title() }}</p>

    @if (subtitle()) {
    <p class="mb-4">{{ subtitle() }}</p>
    } @if (slug()) {
    <p>
      <a [routerLink]="link()" class="font-bold capitalize">Scopri di più -></a>
    </p>
    }
  </div>
</div>
